@use '../helpers' as *;

.hero {
    &__main {
        @include tablet-above {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas: 
                'body images'
                'metrics images';
        }
    }

    &__body {
        grid-area: body;
        padding-top: rem(150);
        padding-right: rem(50);
        padding-bottom: rem(100);

        @include laptop {
            padding-top: rem(100);
            padding-right: rem(40);
        }

        @include tablet {
            padding-right: 0;
            padding-top: rem(40);
            padding-bottom: rem(30);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);

            @include mobile {
                margin-bottom: rem(10);
            }
        }
    }

    &__metrics {
        grid-area: metrics;

        @include tablet-above {
            border-top: var(--border);
        }

        @include tablet {
            &::before {
                width: 100vw;
                right: calc(var(--container-padding-x) * -1);
            }
        }

    }

    &__image {
        grid-area: images;
        padding-left: rem(80);
        padding-bottom: rem(80);
        border-left: var(--border);
        background: url('../../images/resources-preview/bg2.jpg') 0 0 / cover no-repeat;

        @include laptop {
            padding-left: rem(50);
            padding-bottom: rem(50);
        }

        @include tablet-above {
            border-left: var(--border);
        }

        @include tablet {
            width: 100vw;
            margin-left: calc(var(--container-padding-x) * -1);
            padding: rem(100) rem(40) rem(40);
            background-image: none;
            background-size: contain;
        }
    }
}