@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/icon';
@use 'blocks/logo';
@use 'blocks/button';
@use 'blocks/bug_feature';
@use 'blocks/burger-button';
@use 'blocks/header';
@use 'blocks/footer';


@use 'blocks/metrics';
@use 'blocks/hero';

@use 'blocks/cipher-details';
@use 'blocks/cipher';
@use 'blocks/field';


// .header,
// .footer {
//     display: none !important;
// }